  
        .inplace-control-section.form-layout .e-inplaceeditor .e-editable-component .e-clear-icon-hide,
        .e-inplaceeditor-tip .e-editable-component .e-input-group .e-clear-icon.e-clear-icon-hide {
            display: block;
            visibility: hidden;
        }
    
        .inplace-editor-control-section #confirmation {
            max-width: 500px;
            margin: auto;
        }
    
        .inplace-editor-control-section #formId {
            padding-top: 20px;
            margin-bottom: 45px;
            border: 1px solid #ccc;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
            border-radius: 5px;
        }
    
        .inplace-editor-control-section .form-horizontal .form-group {
            margin: 0 20px;
        }
    
        .inplace-editor-control-section .form-horizontal .form-group > * {
            width: 100%;
        }
    
        .inplace-editor-control-section .form-horizontal .form-group:last-child {
            padding-bottom: 40px;
        }
    
        .inplace-editor-control-section .form-title {
            width: 100%;
            text-align: center;
            padding: 10px;
            font-size: 16px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.70);
        }
    
        .inplace-editor-control-section .submit {
            margin: auto;
            width: 50%;
            text-align: center;
        }
    
        .inplace-editor-control-section.form-layout .control-wrapper .form-horizontal .control-label {
            padding: 15px 15px 15px 0;
            font-weight: 600;
        }
    
        @media (max-width: 768px) {
            .inplace-editor-control-section.form-layout .control-wrapper .form-horizontal .control-label {
                padding-top: 7px;
                margin-bottom: 0;
            }
        }
   